# R stuff (maybe I actually want to keep these??) 
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Mac stuff 
.DS_Store
*/.DS_Store

# Don't push data but keep README files explaining use
data/prism_gridded/*
!data/prism_gridded/README.md

data/prism_raw/*
!data/prism_raw/README.md

data/shapefiles/*
!data/shapefiles/README.md
